.body{
   font-family: Arial, sans-serif;
  background: #f8f9fb;
  margin: 0;
  padding: 20px;

}
.title {
  text-align: center;
  margin-bottom: 30px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: auto;
    gap: 15px;
    margin: 90%;
    margin:5% ;
}
.grid-item {
  background:white;
  border-radius: 0px;
  overflow: hidden;
  padding: 15px;
   border: 1.5px solid black;
   box-shadow: 0 2px 5px black;
}

.grid-item img{
    width: 100%;
  height: 100%;
  
}
.span-item {
  grid-column: 1 / 4;
  background:darksalmon;
  padding: 30px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 3px 10px black;
}
.span-item h2 {
  margin: 0 0 10px;
}